h1{
    color:blueviolet 
    font-size:75px
}
/**estilos del body
* todo centrado
* imagen completa de fondo
*/
body{
    text-align: center;
    background-image: url(../IMG/4834e638d1797ec0aac03b03aa507e40.jpg);
    background-repeat: fixed;
    background-attachment: no-repeat;
    background-size: cover;
    }
    p{
        color:rebeccapurple(56,19,90);
        ;font: size 30;
        text-justify: justify;
    }